.app-wrapper {
  display: grid;
  grid-template-rows: 60px auto;
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  	"h h"
	  "n p";
}

.app-wrapper-route {
  grid-area: p;
  background-color: blueviolet;
  border-radius: 30px;
}

body {
  margin: 10px;
  background-color: rgb(210, 153, 228);
}
